/* 导航栏布局 */
.wrapper {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 46px;
    background: rgba(139, 86, 52, 0.3);
    display: flex;
}

.header .wrapper {
    height: 46px;
}

.header .logo {
    height: 46px;
    width: 142px;
}


.header .logo a {
    height: 46px;
    width: 142px;
}

.header .logo a h1 {
    height: 33px;
    width: 97px;
    margin: 5px 23px 8px 22px;
    font-size: 0px;
    background-image: url(../pic/logo.svg);
}

.header .nav ul {
    height: 46px;
    display: flex;
    width: 520px;
    /* background-color: pink; */
    margin-right: 60px;
    justify-content: space-between;
}

.header .nav ul li {
    height: 46px;
    width: 64px;

}

.header .nav ul li a {
    height: 46px;
    width: 64px;
    display: inline-block;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    /* 扩大a标签范围 */
}

.header .logo:hover,
.header .activate,
.header .nav ul li a:hover {
    border-bottom: 5px solid #FFF6E6;
    /* color: white; */
}