body {
    background-color: #E8DBBD;
    background-image: url(../pic/home/pic-bg-start.png), url(../pic/pic-background.png);
    background-repeat: no-repeat, repeat;
    background-position: center top, center top;
}

.content{
    height:679px;
    margin: 0px auto;
    display: flex;
}

.wrapper {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .wrapper .scroll{
    width: 1172px;
    height: 539px;
    margin: 140px 54px 0px 54px;
    background-image: url(../pic/home/pic-scroll.png);
    background-size:cover;
    opacity: 0.7;
    display: flex;
    position: relative;
    /* background-color: pink; */
    
}

.content .wrapper .scroll .box1 {
    width: 240px;
    height: 240px;
    background-image: url(../pic/home/box-flower.png);
    background-repeat: no-repeat;
    background-size: 240px 240px;
    position: absolute;
    left: 140px;
    top: -30px;
    filter: drop-shadow(0px 4px 34px rgb(231,231,203));
    padding: 15px 88px 13px 100px;
    z-index: 1;
    display: flex;
    transition: transform .3s ease;
}

.content .wrapper .scroll .box2 {
    width: 240px;
    height: 240px;
    background-image: url(../pic/home/box-flower.png);
    background-repeat: no-repeat;
    background-size: 240px 240px;
    position: absolute;
    left: 339px;
    top: 96px;
    filter: drop-shadow(0px 4px 34px rgb(231, 231, 203));
    padding: 15px 88px 13px 100px;
    z-index: 2;
    display: flex;
    transition: transform .3s ease;
}

.content .wrapper .scroll .box3 {
    width: 240px;
    height: 240px;
    background-image: url(../pic/home/box-flower.png);
    background-repeat: no-repeat;
    background-size: 240px 240px;
    position: absolute;
    left: 580px;
    top: 22px;
    filter: drop-shadow(0px 4px 34px rgb(231, 231, 203));
    display: flex;
    padding: 15px 88px 13px 100px;
    z-index: 3;
    transition: transform .3s ease;
}

.content .wrapper .scroll .box4 {
    width: 240px;
    height: 240px;
    background-image: url(../pic/home/box-flower.png);
    background-repeat: no-repeat;
    background-size: 240px 240px;
    position: absolute;
    left: 797px;
    top: 71px;
    filter: drop-shadow(0px 4px 34px rgb(231, 231, 203));
    display: flex;
    padding: 15px 88px 13px 100px;
    z-index: 4;
    transition: transform .3s ease;
}

.content .wrapper .scroll a h3 {
    width: 22px;
    height: 92px;
    font-size: 22px;
}

.content .wrapper .scroll a {
    width: 52px;
    height: 212px;
    /* background-color: pink; */
    padding: 60px 15px 60px 15px;
    background: linear-gradient(to bottom, #FFF2DC, #f1cc8a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.content .wrapper .scroll a:hover{
    background: #FFF6E6;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 四兄弟一起飘 */
.content .wrapper .scroll .box1:hover,
.content .wrapper .scroll .box2:hover,
.content .wrapper .scroll .box3:hover,
.content .wrapper .scroll .box4:hover {
    transform: translateY(-8px);
    filter: drop-shadow(0px 4px 10px rgba(219,187,162));
}