body {
    background-color: #E8DBBD;
    background-image: url(../pic/mys/pic-bg-mis.png), url(../pic/pic-background.png);
    background-repeat: no-repeat, repeat;
    background-position: center top, center top;
}

.content {
    width: 1280px;
    height: 379px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.content .uprow{
    height: 159px;
    width: 1005px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
}

.content .botrow {
    height: 159px;
    width: 676px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
}

.content .fan {
    width: 278px;
    height: 159px;
    /* background-color: red; */
    position: relative;
    transition: transform 0.3s ease;
}

.content .fan .bgcircle {
    border-radius: 50%;
    width: 256px;
    height: 133px;
    background: rgba(230, 190, 100, 0.9); 
    filter: blur(40px);
    position: absolute;
    left: 11px;
    top: 16px;
    z-index: 1;
}

.content .fan .pic {
    width: 278px;
    height: 159px;
    background-size: contain;
    background-image: url(../pic/mys/pic-fanbox.png);
    position: absolute;
    z-index: 2;
}

.content .fan .pic h3{
    width: 96px;
    height: 26px;
    line-height: 26px;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    background: linear-gradient(90deg, #652605 0%, #B15F34 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position: absolute;
    left: 91px;
    top: 51px;
    z-index: 2;
}

.content .fan .pic a{
    width: 64px;
    height: 17px;
    font-size: 16px;
    color: #AC968A;
    text-align: center;
    position: absolute;
    left: 107px;
    top: 82px;
    z-index: 2;
    transition: color 0.3s ease;
}

.content .fan .pic a:hover {
    color:#652605;
}


.content .fan:hover {
    transform: translateY(-10px);
}