body {
    background-color: #E8DBBD;
    background-image: url(../pic/soul/pic-bg-soul.png), url(../pic/pic-background.png);
    background-repeat: no-repeat, repeat;
    background-position: center top, center top;
}

.content {
    height: 796px;
}

.content .wrapper {
    width: 1280px;
    position: relative;
    flex-direction: column;
}

.wrapper .assist {
    margin: 0 auto;
    margin-top: 111px;
    width: 219px;
    height: 346px;
    background-image: url(../pic/soul/pic-assistant.png);
    background-position: center top;
    opacity: 0.9;
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
    display: block;
}

.wrapper .assist h2{
    width: 140px;
    height: 30px;
    margin: 0 auto;
    margin-top: 316px;
    color: #8B5634;
    font-size: 28px;
    text-align: center;
    display: block;
}

.wrapper .test {
    position: absolute;
    top: 38px;
    right: 63px;
    width: 131px;
    height: 131px;
    border: none;
    padding: 0;
    background: url('../pic/soul/pic-buttontest.png') no-repeat center/cover;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: #6F2E0B;
    line-height: 22px;
    text-align: center;
}

/* 衔接最后的输入框等 */
.wrapper .ask{
    top: 493px;
    width: 916px;
    height: 226px;
    margin-top: 36px;
    background: url('../pic/soul/pic-ask-scroll.png') no-repeat center/cover;
    padding: 43px 70px 44px 58px;
}

.content-down {
    margin-top: 38px;
    height: 3201px;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-down .hbox{
    height: 69px;
    width: 547px;
    background-image: url(../pic/soul/pic-hbox.png);
    background-repeat: no-repeat;
    padding: 21px 201px 13px;
    color: #FBEBD2;
    font-size: 36px;
    text-align: center;
}

.content-down .cards{
    margin-top: 76px;
    width: 918px;
    height: 3056px;
    display: flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content: space-between;
}

.content-down .cards .card{
    width: 433px;
    height: 704px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../pic/soul/svg-vbox.svg);
    align-content:center;
    align-items:center;
}

.content-down .cards .card .up-icon {
    height: 34px;
    width: 34px;
    margin-top: 16px;
    background-image: url(../pic/pic-goldflower.png);
    background-size: 34px 34px;
}

.content-down .cards .card h3 {
    margin-top: 20px;
    display: block;
    width: 104px;
    height: 28px;
    font-size: 26px;
    color: #8B5634;
    text-align: center;
}

.content-down .cards .card img{
    margin-top: 9px;
    height: 300px;
    display: block;
    /* background-color: pink; */
}

.content-down .cards .card p {
    width: 365px;
    height: 144px;
    margin-top: 2px;
    color: #6E5B5B;
    font-size: 22px;
    text-align: left;
}

.content-down .cards .card span{
    font-family: sans-serif;
}

.content-down .cards .card h2 {
    width: 261px;
    height: 31px;
    display: block;
    margin-top: 40px;
    font-size: 29px;
    color: #DA763C;
    text-align: left;
    line-height: 31px;
}

.content-down .cards .card .down-icon {
    width: 52.25px;
    height: 40px;
    margin-top: 10px;
    background-image: url(../pic/svg-lotus.svg);
    background-size: 52.25px 40px;
    /* margin: 0 auto; */
}

.space{
    height: 100px;
}

/* =========== 输入框与发送按钮 ========== */

.wrapper .ask .search-wrapper {
    width: 789px;
    height: 139px;
    display: flex;
    flex-direction: column;
}

.search-wrapper .radio-group {
    height: 19px;
    line-height: 19px;
    display: flex;
    font-size: 18px;
    cursor: pointer;
}

.search-wrapper .radio-group .flower {
    margin: 1.5px 0px;
    margin-right: 2px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../pic/pic-orangeflower.png);
}

.search-wrapper .radio-group span {
    color: rgba(194, 117, 78, 0.50);
    font-size: 18px;
    transition: color 0.2s;
    margin-right: 18px;
}

.search-wrapper .radio-group span.active {
    color: #C2754E;
}


/* 多行输入框样式 */
.search-wrapper .search-input {
    all: unset;
    width: 789px;
    height: auto;
    min-height: 23px;
    max-height: calc(23px * 3);
    /* 最多三行 */
    font-size: 22px;
    line-height: 23px;
    color: #8B5634;
    border: none;
    outline: none;
    background: none;
    resize: none;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-top: 17px;
}

/* 隐藏滚动条 */
.search-wrapper .search-input::-webkit-scrollbar {
    display: none;
    /* Chrome / Safari */
}

.search-wrapper .search-input {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE / Edge */
}

.search-wrapper .submit-btn {
    width: 106px;
    height: 37px;
    background: #8B5634;
    border-radius: 40px;
    margin-left: auto;
    margin-top: auto;
    padding: 9px 0px;
    border: 0px;
    font-size: 18px;
    color: #FDF6E6;
    cursor: pointer;
}

.search-wrapper .search-input::placeholder {
    color: #8B5634;
}

.search-wrapper .submit-btn .btn__icon {
    flex-shrink: 0;
}

.search-wrapper .submit-btn .btn__text {
    font-family: xiaowei;
    height: 19px;
    line-height: 19px;
    font-size: 18px;
    color: #FDF6E6;
    text-align: left;
}